*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}


/*----------------------------------------
-------   common style/utilites    -------
------------------------------------------*/
.container{
    max-width: 1140px;
    margin: auto;
}
.color{
    color: #272727;
}
.mb{
    margin-bottom: 128px;
}
.section-title{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}
.section-description{
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 48px;
}

.ps-relative{
    position: relative;
}

.ps-absolute{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);  
}


/* header banner style */
.header{
    background-color: rgba(229, 84, 115, 0.10);
    padding-top: 50px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-title{
    font-size: 60px;
    font-weight: 600;
}

.banner-description{
    font-size: 18px;
    color:rgba(39, 39, 39, 0.60);
    margin: 20px 0;
}

.primary-button{
    border-radius: 8px;
    background: #E55473;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 17px 40px;
    border: none;
}

/* fetured flower style */
.insta-container{
    text-align: center;
}
.featured-container{
    text-align: center;
    margin-top: 170px;
}

.flowers-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    
}
.flower{
    width: 30%;
    height: 400px;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
}
.flower img{
    height: 330px;
}
#first-flower{
    background: rgba(167, 33, 98, 0.15);
}
#second-flower{
    background-color: rgba(5, 151, 160, 0.15);
}
#third-flower{
    background-color: rgba(71, 125, 17, 0.15);      
}

.flower-name{
    text-decoration: underline;
    font-size: 20px;
    font-weight: 700;
    bottom: -50px;
}

/* our feature section style */
.features-container{
    display: flex;
    padding: 85px 175px;
    justify-content: space-between;
    
    background: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
}
.feature{
    text-align: center;
}
.feature img{
    margin-bottom: 24px;
}

/* offer section styles */
.offer-section-container{
    background: rgba(229, 84, 115, 0.10);
    
}
.offers-container{
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 70px;
}
.offers-description{
    text-align: center;
}
.offers-off{
    color: #E55473;
}

/* insta image section styles */
.insta-image-container{
    display: flex;
    justify-content: space-between;
}
.insta-image-container img{
    width: 24%;
}

/* subscribe section style */
.subscirbe-container{
    background-image: 
    url("../images/Rectangle\ 9.png");
    border-radius: 8px;
}
.subscribe-section{
    text-align: center;
    padding: 122px;
}
input[type="email"]{
    width: 60%;
    background: #fff;
    border-radius: 7px;
    padding: 16px;
    border: none;
}
input[type="button"]{
    padding: 12px 14px;
    font-size: 18px;
    margin-left: 10px;
}